.navbar-default {
	background-color: #662BEE;
	border-radius: 0px !important;
	border: none;
}

.navbar-default .navbar-nav > .active > a {
	background-color: #367994 !important;
	color: white !important;
}

.navbar-default a:hover {
	color: #b3b3b3 !important;
}